*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}

@keyframes circle{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p4.music.126.net/RvTUmr9wQR-xjhAxWZ3VoA==/17702137207605115.jpg) no-repeat center;
    background-size: cover;
}

.disc-container{
    position: relative;

}

.disc-container .pointer{
    width: 24vw;
    position: absolute;
    left: 45vw;
    z-index: 4;
}

.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vw;
    
}

.disc-container .ring{
    width: 72vw;
    position: absolute;
}
.disc-container .light{
    width: 72vw;
    position: absolute;
    animation: circle 20s infinite linear;
    z-index: 2;
}
.disc-container .cover{
    width: 72vw;
    padding: 60px;
    border-radius: 50%;
    animation: circle 20s infinite linear;
    z-index: 1

}

.song-description{

}

.page > .links{

}