*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}

@keyframes circle{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent url(http://p4.music.126.net/RvTUmr9wQR-xjhAxWZ3VoA==/17702137207605115.jpg) no-repeat center;
    background-size: cover;
}


.disc-container{
    position: relative;

}

.disc-container .icon{
    position: absolute;
    z-index: 3;
    padding: 10px;
}

.disc-container .pointer{
    width: 24vw;
    position: absolute;
    left: 45vw;
    z-index: 4;
}

.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vw;
    
}

.disc-container .ring{
    width: 72vw;
    position: absolute;
}
.disc-container .light{
    width: 72vw;
    position: absolute;
    z-index: 2;
}
.disc-container .cover{
    width: 72vw;
    padding: 50px;
    border-radius: 50%;
    z-index: 1

}

.disc-container.playing .light,
.disc-container.playing .cover{
    animation: circle 20s infinite linear;
}



.song-description{
    flex-grow: 1;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
}

.song-description h1{
    font-size: 18px;
}
.song-description p{
    font-size: 14px;
    line-height: 24px;
}

.song-description .lyric{
    height: 72px;
    overflow: hidden;
}

.page > .links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
.page > .links > a{
    width: 38.5vw;
    margin: 1em;
    text-align: center;
    border: 1px solid red;
    background: transparent;
    padding: 1.1vw;
    color: inherit;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 1vw;
}

.page > .links > a.main{
    background: red;
    color: white;
}