*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

body{
    background: #eee;
    font-size: 16px;
}
.box1{
    text-align: center;
}
.box2{
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;/*把元素的顶端与行中最高元素的顶端对齐*/
}
.box2 >li{
    background: white;
    border: 1px solid #ddd;
    float: left;
    position: relative;

}
.box2 li >a{
    width: 150px;
    line-height: 30px;
    display: block;
    padding: 10px;
}/*box2 后面不要加箭头*/
.box2 >li >ul{
    display: none;
    background: #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.box2 >li:hover >ul{
    display: block;
}
a:hover{

}